# Extraindo os Disciplinas Selecionadas
## Objetivo
Utilizar o dataset de disciplinas e de grade curricular para extrair as informações das disciplinas de determinados cursos e separa-los em um outro dataset, afim de poder salvar em um model na API.

In [1]:
import pandas as pd
import numpy as np

In [2]:
disciplinas = pd.read_csv("../data/componentes-curriculares-presenciais-ok.csv")
disciplinas.shape

(36079, 30)

In [7]:
#disciplinas.unidade_responsavel.unique()
departamentos_selecionados = ['ESCOLA DE CIÊNCIAS E TECNOLOGIA', 'INSTITUTO METROPOLE DIGITAL',
                             'DEPARTAMENTO DE ENGENHARIA DE COMPUTACAO E AUTOMACAO']

disc_sel = disciplinas[disciplinas.unidade_responsavel.isin(departamentos_selecionados)]

In [4]:
cols = ['id_componente', 'codigo', 'nome']
disc = disc_sel[cols]
disc['departamento'] = disc_sel.unidade_responsavel

/home/rafael/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

# Pegando apenas Disciplinas de Grades Curriculares ATIVAS

In [10]:
cursos = pd.read_csv("../data/cursos-de-graduacao.csv", sep=";")
estr_curric = pd.read_csv("../data/estruturas-curriculares.csv", sep=";")
curric_comp = pd.read_csv("../data/curriculo-componente-graduacao.csv", sep=";")

In [26]:
cursos_selecionados = ['CIÊNCIAS E TECNOLOGIA', 'TECNOLOGIA DA INFORMAÇÃO', 'ENGENHARIA DE COMPUTAÇÃO']
cursos_sel = cursos[cursos.nome.isin(cursos_selecionados)]

In [27]:
estr_curric_sel = estr_curric[estr_curric.id_curso.isin(cursos_sel.id_curso.unique())]

In [36]:
estr_curric_sel[['nome_matriz', 'ano_entrada_vigor']]

                                           nome_matriz  ano_entrada_vigor
21   TECNOLOGIA DA INFORMAÇÃO - NATAL - MT - BACHAR...               2014
22   TECNOLOGIA DA INFORMAÇÃO - NATAL - N - BACHARE...               2014
44   TECNOLOGIA DA INFORMAÇÃO - NATAL - N - BACHARE...               2014
47   TECNOLOGIA DA INFORMAÇÃO - NATAL - MT - BACHAR...               2014
98    CIÊNCIAS E TECNOLOGIA - NATAL - MT - BACHARELADO               2015
115  TECNOLOGIA DA INFORMAÇÃO - NATAL - MT - BACHAR...               2014
136   CIÊNCIAS E TECNOLOGIA - NATAL - MT - BACHARELADO               2016
234  TECNOLOGIA DA INFORMAÇÃO - NATAL - MT - BACHAR...               2014
244   CIÊNCIAS E TECNOLOGIA - NATAL - MT - BACHARELADO               2016
254   ENGENHARIA DE COMPUTAÇÃO - NATAL - MT - FORMAÇÃO               2012
264    CIÊNCIAS E TECNOLOGIA - NATAL - N - BACHARELADO               2016
271    CIÊNCIAS E TECNOLOGIA - NATAL - N - BACHARELADO               2015
273    CIÊNCIAS E TECNOLOGIA - NATAL - N - BACHARELADO               2016
275  CIÊNCIAS E TECNOLOGIA - NATAL - MTN - BACHARELADO               2016
276    CIÊNCIAS E TECNOLOGIA - NATAL - N - BACHARELADO               2016
277    CIÊNCIAS E TECNOLOGIA - NATAL - T - BACHARELADO               2016
289   CIÊNCIAS E TECNOLOGIA - NATAL - MT - BACHARELADO               2016
299    CIÊNCIAS E TECNOLOGIA - NATAL - N - BACHARELADO               2016
310   CIÊNCIAS E TECNOLOGIA - NATAL - MT - BACHARELADO               2016
330  TECNOLOGIA DA INFORMAÇÃO - NATAL - N - BACHARE...               2014

In [5]:
disc.head()

,id_componente,codigo,nome,departamento
192,20005,DCA0451,COMPUTACAO NUMERICA,DEPARTAMENTO DE ENGENHARIA DE COMPUTACAO E AUT...
193,20006,DCA0416,SISTEMAS ESPECIALISTAS APLICADOS A AUTOMACAO,DEPARTAMENTO DE ENGENHARIA DE COMPUTACAO E AUT...
199,20012,DCA0404,ARQUITETURA DE COMPUTADORES,DEPARTAMENTO DE ENGENHARIA DE COMPUTACAO E AUT...
200,20013,DCA0418,SUPERVISAO E CONTROLE OPERACIONAL DE SISTEMAS,DEPARTAMENTO DE ENGENHARIA DE COMPUTACAO E AUT...
201,20014,DCA0443,CONTROLADORES LOGICOS PROGRAMAVEIS,DEPARTAMENTO DE ENGENHARIA DE COMPUTACAO E AUT...

In [12]:
disc.to_csv("../outputs/disciplinas-selecionadas.csv", encoding='UTF-8', )