# Montando os dados da Turma
Nesse notebooks iremos juntas os dados das turmas e tentar montar essa tabela

In [2]:
import pandas as pd
import numpy as np

In [4]:
turmas = pd.read_csv('data/turmas-20172.csv', sep=';')

In [6]:
turmas.columns

Index(['id_turma', 'codigo_turma', 'id_docente_interno', 'id_docente_externo',
       'observacao', 'id_componente_curricular', 'nivel_ensino',
       'campus_turma', 'local', 'ano', 'periodo', 'data_inicio', 'data_fim',
       'descricao_horario', 'total_solicitacoes', 'capacidade_aluno', 'tipo',
       'distancia', 'data_consolidacao', 'agrupadora', 'id_turma_agrupadora',
       'qtd_aulas_lancadas', 'situacao_turma', 'convenio',
       'modalidade_participantes', 'Unnamed: 25'],
      dtype='object')

In [7]:
# importando disciplinas
disciplinas = pd.read_csv("outputs/displicinas_cet.csv", sep=';')

In [22]:
turmas_base = turmas[['id_turma', 'id_docente_interno', 'id_componente_curricular']]
turmas_base.shape

(14472, 3)

In [23]:
disc_base = ['id_componente', 'nome', 'codigo']
disc_ect = disciplinas[disc_base]
disc_ect.shape

(47, 3)

In [24]:
pd.merge(left=turmas_base, right=disc_ect, left_on='id_componente_curricular', right_on='id_componente', how='inner').shape

(348, 6)

In [29]:
# Lendo turmas de CeT
matr_cet = pd.read_csv("outputs/turmas_dados_2017_2.csv", sep=";")
matr_cet.shape

(646, 8)

In [31]:
turma_ax = pd.merge(left=turmas_base, right=matr_cet, how='inner')
turma_ax.head()

,id_turma,id_docente_interno,id_componente_curricular,qnt_disc,qnt_aprovados,qnt_reprovados,qnt_trancamento,media_turma,media_faltas,qnt_reposicao
0,57603556,5755773.0,22939,1,1.0,0.0,0.0,6.700,0.0,0.0
1,57603570,5752251.0,26661,1,1.0,0.0,0.0,9.700,4.0,0.0
2,57603600,5753637.0,45839,25,22.0,3.0,0.0,6.088,4.0,0.0
3,57603600,5752233.0,45839,25,22.0,3.0,0.0,6.088,4.0,0.0
4,57603600,5752476.0,45839,25,22.0,3.0,0.0,6.088,4.0,0.0

In [34]:
turmas_com = pd.merge(left=turma_ax, right=disc_ect, left_on='id_componente_curricular', right_on='id_componente', how='inner')
turmas_com[['id_turma', 'nome', 'id_docente_interno', 'qnt_disc']].head()

   id_turma         nome  id_docente_interno  qnt_disc
0  57605512  PRÉ-CÁLCULO           5752289.0       122
1  57605513  PRÉ-CÁLCULO           5752240.0       133
2  57605514  PRÉ-CÁLCULO           5752240.0       122
3  57605515  PRÉ-CÁLCULO             26592.0        42
4  57605517  PRÉ-CÁLCULO           5757983.0        71

In [35]:
# importando professores
prof = pd.read_csv("data/docentes.csv", sep=';')
prof.head(2)

,id_servidor,siape,nome,formacao,tipo_jornada_trabalho,vinculo,categoria,classe_funcional,id_unidade_lotacao,lotacao,admissao
0,21041,349938,GILDETE AZEVEDO,DESCONHECIDA,Dedicação exclusiva,Ativo Permanente,PROFESSOR DE 1 E 2 GRAUS,C ...,1452,NÚCLEO DE EDUCAÇÃO DA INFÂNCIA,1984-08-27 00:00:00
1,5753261,709857,MARIA NUBIA PESSOA,ESPECIALIZAÇÃO,Dedicação exclusiva,Ativo Permanente,PROFESSOR DE ENSINO BASICO DE EX-TERRITORIO,D ...,1452,NÚCLEO DE EDUCAÇÃO DA INFÂNCIA,2010-01-06 00:00:00

In [40]:
turma_simp = turmas_com[['id_turma', 'nome', 'id_docente_interno', 'qnt_disc']]
turma_simp['id_docente'] = turma_simp[['id_docente_interno']].applymap(np.int64)

/home/rafael/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [41]:
pd.merge(left=turma_simp, right=prof, left_on='id_docente', right_on='')

,id_turma,nome,id_docente_interno,qnt_disc,id_docente
0,57605512,PRÉ-CÁLCULO,5752289.0,122,5752289
1,57605513,PRÉ-CÁLCULO,5752240.0,133,5752240
2,57605514,PRÉ-CÁLCULO,5752240.0,122,5752240
3,57605515,PRÉ-CÁLCULO,26592.0,42,26592
4,57605517,PRÉ-CÁLCULO,5757983.0,71,5757983
5,57605518,PRÉ-CÁLCULO,5752242.0,106,5752242
6,57605520,PRÉ-CÁLCULO,5752289.0,34,5752289
7,57605521,PRÉ-CÁLCULO,5753020.0,88,5753020
8,57605523,VETORES E GEOMETRIA ANALÍTICA,5754327.0,104,5754327
9,57605524,VETORES E GEOMETRIA ANALÍTICA,5753081.0,56,5753081
10,57605525,VETORES E GEOMETRIA ANALÍTICA,5755040.0,112,5755040
11,57605526,VETORES E GEOMETRIA ANALÍTICA,5754327.0,100,5754327
12,57605528,VETORES E GEOMETRIA ANALÍTICA,5758125.0,89,5758125
13,57605530,VETORES E GEOMETRIA ANALÍTICA,5755040.0,118,5755040
14,57605531,VETORES E GEOMETRIA ANALÍTICA,5757117.0,50,5757117
15,57606671,VETORES E GEOMETRIA ANALÍTICA,5757117.0,80,5757117
16,57605532,CÁLCULO I,5752242.0,110,5752242
17,57605533,CÁLCULO I,5758715.0,125,5758715
18,57605534,CÁLCULO I,5757193.0,115,5757193
19,57605535,CÁLCULO I,5758125.0,81,5758125
20,57605536,CÁLCULO I,5759223.0,106,5759223
21,57605537,CÁLCULO I,5759223.0,111,5759223
22,57605538,CÁLCULO I,26592.0,78,26592
23,57605539,CÁLCULO I,5757166.0,127,5757166
24,57605541,QUÍMICA GERAL,5757907.0,9,5757907
25,57605543,QUÍMICA GERAL,5757907.0,23,5757907
26,57605544,QUÍMICA GERAL,5757907.0,26,5757907
27,57605545,QUÍMICA GERAL,5757907.0,28,5757907
28,57605546,QUÍMICA GERAL,5757907.0,27,5757907
29,57605548,QUÍMICA GERAL,5752294.0,23,5752294
...,...,...,...,...,...
300,57606039,FÍSICA EXPERIMENTAL II,5757556.0,25,5757556
301,57606041,FÍSICA EXPERIMENTAL II,5752751.0,25,5752751
302,57606043,FÍSICA EXPERIMENTAL II,5756351.0,17,5756351
303,57606045,FÍSICA EXPERIMENTAL II,5756351.0,20,5756351
304,57606047,FÍSICA EXPERIMENTAL II,5758562.0,24,5758562
305,57608071,CAD PARA ENGENHARIA I,5753542.0,23,5753542
306,57608077,CAD PARA ENGENHARIA I,5753542.0,22,5753542
307,57609381,CAD PARA ENGENHARIA I,5753689.0,25,5753689
308,57609403,CAD PARA ENGENHARIA I,5753689.0,24,5753689
309,57609215,ELETRÔNICA,5759363.0,31,5759363
310,57609235,CIRCUITOS DIGITAIS,5753099.0,21,5753099
311,57609250,SISTEMAS DIGITAIS,5753099.0,3,5753099
312,57609350,INTRODUÇÃO AOS ELEMENTOS DE MÁQUINAS,5753561.0,10,5753561
313,57609353,INTRODUÇÃO AOS PROCESSOS DE FABRICAÇÃO MECÂNICA,5753661.0,1,5753661
314,57609497,SISTEMAS HIDRÁULICOS E PNEUMÁTICOS,5758239.0,2,5758239
315,57609662,INSTRUMENTAÇÃO INDUSTRIAL,5759363.0,17,5759363
316,57609665,PROGRAMAÇAO AVANÇADA,21846.0,31,21846
317,57609668,PROGRAMAÇAO AVANÇADA,24165.0,34,24165
318,57609694,ARQUITETURA DE COMPUTADORES,5753097.0,32,5753097
319,57609706,ANALISE DE SINAIS E SISTEMAS,23011.0,23,23011
320,57609707,ANALISE DE SINAIS E SISTEMAS,4308385.0,45,4308385
321,57609711,TEORIA DE CIRCUITOS,18543.0,39,18543
322,57609712,TEORIA DE CIRCUITOS,5759500.0,12,5759500
323,57609726,MODELAGEM E ANALISE DE SISTEMAS DINAMICOS,5759156.0,3,5759156
324,57609729,MODELAGEM E ANALISE DE SISTEMAS DINAMICOS,5753695.0,11,5753695
325,57609736,PROCESSAMENTO DIGITAL DE SINAIS,5758819.0,16,5758819
326,57609739,PROCESSAMENTO DIGITAL DE SINAIS,5753710.0,3,5753710
327,57611444,PROCESSAMENTO DIGITAL DE SINAIS,5753710.0,18,5753710
328,57609741,INTRODUCAO A ROBOTICA,23956.0,19,23956
329,57609753,ACIONAMENTOS ELETRÔNICOS DE POTÊNCIA,23658.0,13,23658