In [2]:
import pandas as pd

In [2]:
matriculas = pd.read_csv("matricula-de-20172.csv", sep=';')

In [3]:
matriculas.head()

,id_turma,discente,id_curso,unidade,nota,reposicao,faltas_unidade,media_final,numero_total_faltas,descricao
0,57610457,0efbb9328136afcae8d0ecc17296e94e,6633741.0,NaN,NaN,NaN,NaN,NaN,NaN,DESISTENCIA
1,57610457,91fbe8c5c2f52742c2c1dc15d286a3f3,2000030.0,3.0,0.0,f,0.0,0.0,48.0,CANCELADO
2,57610457,91fbe8c5c2f52742c2c1dc15d286a3f3,2000030.0,2.0,0.0,f,0.0,0.0,48.0,CANCELADO
3,57610457,91fbe8c5c2f52742c2c1dc15d286a3f3,2000030.0,1.0,0.0,f,0.0,0.0,48.0,CANCELADO
4,57610457,7c64aa349e5565426721790cfd03a326,2000030.0,1.0,8.5,f,0.0,9.2,3.0,APROVADO

In [6]:
componentes = pd.read_csv("data/componentes-curriculares-presenciais-ok.csv")

In [5]:
componentes.head()

,Unnamed: 0,id_componente,tipo_componente,codigo,nivel,nome,unidade_responsavel,ch_teorico,ch_pratico,ch_estagio,...,ementa,bibliografia,objetivos,conteudo,competencias_habilidades,referencias,ano_programa,periodo_programa,modalidade,curso_componente
0,0,18643,DISCIPLINA,MUT508,T,COMPOSIÇÃO EM MÚSICA POPULAR III,ESCOLA DE MÚSICA,60,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN
1,1,18644,DISCIPLINA,MUT516,T,CO-REPETIÇÃO,ESCOLA DE MÚSICA,30,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN
2,2,18645,DISCIPLINA,MUT520,T,CONTRABAIXO ACÚSTICO I,ESCOLA DE MÚSICA,30,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN
3,3,18646,DISCIPLINA,MUT165,T,PIANO COMPLEMENTAR I,ESCOLA DE MÚSICA,15,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN
4,4,18647,DISCIPLINA,MUT167,T,PIANO COMPLEMENTAR III,ESCOLA DE MÚSICA,15,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN

In [6]:
# componentes.nome.str.startswith("INTRO")
componentes_novo = componentes[~componentes.isna()]
# componentes_novo
# componentes_novo[componentes_novo.nome == "INTRODUCAO A FISICA CLASSICA III"]
comp_ect = componentes_novo[(componentes.unidade_responsavel == "ESCOLA DE CIÊNCIAS E TECNOLOGIA")]

In [4]:
cursos = pd.read_csv("data/cursos-de-graduacao.csv", sep=";")

In [11]:
cursos[cursos.nome == 'CIÊNCIAS E TECNOLOGIA']

,id_curso,nome,id_coordenador,coordenador,situacao_curso,nivel_ensino,grau_academico,modalidade_educacao,area_conhecimento,tipo_oferta,...,campus,id_unidade_responsavel,unidade_responsavel,website,data_funcionamento,codigo_inep,dou,portaria_reconhecimento,convenio_academico,Unnamed: 22
15,10320810,CIÊNCIAS E TECNOLOGIA,5753080.0,KALINE MELO DE SOUTO VIANA,ATIVO,GRADUAÇÃO,BACHARELADO,Presencial,Ciências Exatas e da Terra,Regular,...,NaN,4885,ESCOLA DE CIÊNCIAS E TECNOLOGIA,http://www.prograd.ufrn.br,NaN,116756.0,2014-03-31,Portaria nº 217/2014 - DIREG/MEC,NaN,NaN

In [11]:
turma_ifc3 = matriculas[matriculas.id_turma == 57605948]

In [15]:
notas = turma_ifc3[~turma_ifc3.nota.isna()]

In [26]:
notas_ifc3 = notas[['id_turma', 'discente', 'media_final', 'reposicao', 'descricao']]

In [28]:
notas_ifc3 = notas_ifc3.drop_duplicates()

In [34]:
notas_ifc3.groupby('descricao').count()['discente']

descricao
APROVADO                            26
APROVADO POR NOTA                   54
CANCELADO                            2
REPROVADO                            2
REPROVADO POR MÉDIA E POR FALTAS    16
Name: discente, dtype: int64

In [37]:
print("Média da Turma: " + str(notas_ifc3.media_final.mean()))

Média da Turma: 5.544444444444444

In [40]:
tx_aprov = 100 * (26 + 54) / notas_ifc3.shape[0]

print("Taxa de Aprovação: " + str(tx_aprov) + "%.")

Taxa de Aprovação: 80.0%.

In [9]:
componentes[componentes.id_componente == 57587]

,Unnamed: 0,id_componente,tipo_componente,codigo,nivel,nome,unidade_responsavel,ch_teorico,ch_pratico,ch_estagio,...,ementa,bibliografia,objetivos,conteudo,competencias_habilidades,referencias,ano_programa,periodo_programa,modalidade,curso_componente
22804,22804,57587,MÓDULO,ECT2103,G,CÁLCULO I,ESCOLA DE CIÊNCIAS E TECNOLOGIA,60,0,0,...,Limites e continuidade. Derivada. Aplicações d...,NaN,- Introduzir e capacitar o aluno a entender e ...,1. Limites1.1 Definição. Limites laterais.1.2 ...,Capacitar o aluno a entender e utilizar adequa...,NaN,2016.0,2.0,Presencial,CIÊNCIAS E TECNOLOGIA