# Limpando os dados de um semestre
## Objetivo
Esse notebook tem como objetivo realizar a limpeza de um semestre específico, para assim criar uma função
que possa ser utilizada para outros semestres.

In [2]:
import pandas as pd
import numpy as np

In [3]:
matr = pd.read_csv("data/matricula-de-20172.csv", sep=";")

In [4]:
matr.head()

,id_turma,discente,id_curso,unidade,nota,reposicao,faltas_unidade,media_final,numero_total_faltas,descricao
0,57610457,0efbb9328136afcae8d0ecc17296e94e,6633741.0,NaN,NaN,NaN,NaN,NaN,NaN,DESISTENCIA
1,57610457,91fbe8c5c2f52742c2c1dc15d286a3f3,2000030.0,3.0,0.0,f,0.0,0.0,48.0,CANCELADO
2,57610457,91fbe8c5c2f52742c2c1dc15d286a3f3,2000030.0,2.0,0.0,f,0.0,0.0,48.0,CANCELADO
3,57610457,91fbe8c5c2f52742c2c1dc15d286a3f3,2000030.0,1.0,0.0,f,0.0,0.0,48.0,CANCELADO
4,57610457,7c64aa349e5565426721790cfd03a326,2000030.0,1.0,8.5,f,0.0,9.2,3.0,APROVADO

In [5]:
matr.shape

(632454, 10)

## Pegando os dados das turmas de C&T
Id do curso do Ciências e Tecnologia = 10320810

In [8]:
id_cet = 10320810
matr_cet = matr[matr.id_curso == id_cet]
matr_cet.shape

(60745, 10)

## Pegando apenas as matriculas realizadas

In [9]:
matr_cet.descricao.unique()

array(['INDEFERIDO', 'DESISTENCIA', 'APROVADO',
       'REPROVADO POR MÉDIA E POR FALTAS', 'APROVADO POR NOTA',
       'CANCELADO', 'REPROVADO', 'TRANCADO', 'REPROVADO POR NOTA E FALTA',
       'EXCLUIDA', 'REPROVADO POR NOTA', 'REPROVADO POR FALTAS'],
      dtype=object)

In [23]:
indesejada = ['DESISTENCIA', 'INDEFERIDO', 'EXCLUIDA', 'CANCELADO']

matriculas_cet = matr_cet[~matr_cet.descricao.isin(indesejada)]

In [24]:
matriculas_cet.shape

(49782, 10)

# Selecionando colunas desejadas

In [25]:
matriculas_cet.columns

Index(['id_turma', 'discente', 'id_curso', 'unidade', 'nota', 'reposicao',
       'faltas_unidade', 'media_final', 'numero_total_faltas', 'descricao'],
      dtype='object')

In [26]:
cols = ['id_turma', 'discente', 'id_curso', 'media_final', 'numero_total_faltas', 'descricao']
matriculas_cet = matriculas_cet[cols]

## Removendo dados duplicados e vazios

In [27]:
matriculas_cet = matriculas_cet.drop_duplicates()
matriculas_cet.shape

(15275, 6)

In [28]:
matriculas_cet = matriculas_cet.dropna(subset=['id_turma', 'discente', 'descricao'])
matriculas_cet.shape

(15275, 6)

## Exportando os dados

In [29]:
matriculas_cet.to_csv("data/outputs/matriculas_cet_20172.csv", sep=";", index=False)